
<div class="mainheader">
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg bg-transparent navbar-dark py-3 fixed-top">
    <a class="logo" href=""><img src="../images/logo.PNG" alt="logo" ></a>
    <!--<a style="color: white;" class="navbar-brand" href="#"><i class="fa fa-medkit"></i> Sankalp </a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ml-auto pr-4">
        <li class="nav-item btn btn-danger">
          <a  class="nav-link activeNavLink" href="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        
        <li style="color:white" class="nav-item dropdown btn btn-outline-primary">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-plus"></i>
            Sign Up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/register">Patient</a>
            <a class="dropdown-item" href="/doctor/registerDoc">Doctor</a>
        </li>
  
        <li class="nav-item dropdown  btn btn-outline-primary">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-sign-in"></i>
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/login">Patient</a>
              <a class="dropdown-item" href="/doctor/loginDoc">Doctor</a>
          </li>
        
      </ul>
      
    </div>
  </nav>
  </div>
 <!--
  <style>
   

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }

    header{
    
    background-image: url('../images/bg.png');
    background-attachment:fixed;
    background-size: cover;
    padding:2%;
    
   
   }
  
.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .logo img{
    top: 0;
    left: 0;
    width: 35px; height: 50px;
    
   }
.line{
font-family: 'Bangers', cursive;
}

.navbar-nav .nav-item .nav-link{
    font-size: 15px;
    font-weight: bolder;
    color:rgb(32, 30, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-item .nav-link:hover{
    color:white;
}

.nav-item{
    margin-left:7px;
    
}

.navbar-nav .nav-item .activeNavLink{
    
    color:white;
}

.navbar-nav li{
    border-radius: 0%;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   main .right-sec{
   padding-left: 55px;
   }
   
   main .left-sec{
    padding-left: 75px;
   }
   
   .left-sec h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #242424;
    margin-top: 100px;
    left: 10px;
   }
   
   .left-sec h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0;
   }
   
   .left-sec p{
    margin-bottom: 20px;
   }
   
   
.footer-bar
{
    background-color:rgb(140, 171, 177);
    color:#f0f0f0;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 0% 2%;
} 

.forDoctors{
    text-align: justify;
}
.forPatients{
    position: absolute;
    right: 0px;
    text-align: justify;
}
.image-card{
   width: 320px;
   height: 320px;
   padding-top: 15%;
}
  </style>
   -->