<!--contains the modal of questions asked by the patients-->
<div class="modal fade" id="doubtsModal" tabindex="-1" role="dialog" aria-labelledby="doubtsModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="doubtsModalTitle">Ask A Doubt</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%
            var Ask=[];
            Ask=ask;
            Ask.reverse();
            %>
        <% Ask.forEach(function(item){ %>
            <h6>Question :<%= item.doubt %> <p style="font-size: xx-small;">[Date:<%=item.date%>]</p></h6>
          <form action="/doctor/homeDoc/<%=item.doubtId%>" method="POST">
            <div class="form-group">
                <input
                  type="doubt"
                  id="doubt"
                  name="doubt"
                  class="form-control"
                  placeholder="Enter answer here...."
                  value="<%= typeof doubt != 'undefined' ? doubt : '' %>"/></div>            
            <button type='submit' class="btn btn-primary">Submit</button>
  
          </form>
          <hr>
          <% }) %>   
        </div> 
      </div>
    </div>
  </div>