<!--THIS MODAL FILTERS THE POSTS ON PATIENT HOME PAGE -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalTitle">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <form action="/user/home" method="POST">
            <div>
            <h4 style="color:#007bff">Location</h4>
            <input type="radio" name="location" value='10'> <label for="location"> Within 10 kms</label><br>
            <input type="radio" name="location" value='25'> <label for="location"> Within 25 kms</label><br>
            <input type="radio" name="location" value='55'> <label for="location"> Within 55 kms</label><br>
            <hr>
            <h4 style="color:#007bff">Search for Doctor</h4>
  <input type="docName" id="docName" name="docName" class="form-control searchInputTag" placeholder="Enter Doctor's Name" />
  
            <hr>
            <h4 style="color:#007bff">Search by Specialisation</h4>
  <input type="speciality" id="speciality" name="speciality" class="form-control searchInputTag" placeholder="Enter Specialisation(ex. dentist,neurologists)"/>
 

  <hr>          
  <button type='submit' class="btn btn-primary">Find</button>
            <br>
          </div>   
          </form>
             
        </div> 
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/autocomplete.js"></script>
<script src="/js/autocomplete_home.js"></script>