  
<!-- footer common for all views -->
<footer class=" footer-bar p-5 text-white text-center position-relative">
    <div class="row d-sm-flex">
  
      <div class="col-md-4 col-xs-12 forDoctors  mt-3">
        <h3 style="color:rgb(37, 35, 35)"><i class="fa fa-user-md" aria-hidden="true"></i> For Doctors</h3>
          <br>
          <p><i class="fa fa-hand-o-right"></i> See the Booked Appointments</p>
          <p><i class="fa fa-hand-o-right"></i> Update Patients Medical History</p>
          <p><i class="fa fa-hand-o-right"></i> Get notified</p>
          <p><i class="fa fa-hand-o-right"></i> Cancel Appointments</p>
          <p><i class="fa fa-hand-o-right"></i> Go through past Appointments</p>
          <p><i class="fa fa-hand-o-right"></i> Chat or video call with patients</p>
          <hr>
  
      </div>
       <div class="col-lg-4">
         <img class="image-card"src="../images/card.jpg" alt="bg-img">
       </div>
      <div class="col-md-4 col-xs-12 forPatients  mt-3">
        <h3 style="color:rgb(37, 35, 35)"><i class="fa fa-user" aria-hidden="true"></i> For Patients</h3>
        <br>
        <p><i class="fa fa-hand-o-right"></i> Book Appointments</p>
        <p><i class="fa fa-hand-o-right"></i> Search for Needed Doctors</p>
        <p><i class="fa fa-hand-o-right"></i> Get notified</p>
        <p><i class="fa fa-hand-o-right"></i> Cancel Appointments</p>
        <p><i class="fa fa-hand-o-right"></i> Go through past Appointments</p>
        <p><i class="fa fa-hand-o-right"></i> Chat or video call with doctors</p>
        <hr>
      </div>
      
      
    </div>
    <p><i class="fa fa-envelope-o"></i> sankalp2021webster@gmail.com</p>
    <hr style="background-color: white;">
    <div class="">&copy; All rights Reserved | Terms and Policy 2021</div>
  </footer>