<!--NAVBAR-->
<div class="mainheader">
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <a class="logo" href=""><img src="../images/logo.PNG" alt="logo" ></a>
  <!--<a style="color: white;" class="navbar-brand" href="#"><i class="fa fa-medkit"></i> Sankalp </a>-->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ml-auto pr-4">
      <li class="nav-item btn btn-danger">
          <a  class="nav-link activeNavLink" href="/doctor/homeDoc">
            <i class="fa fa-home"></i> Main Page
          </a>
        </li>
       
        <li class="nav-item btn btn-outline-primary" id="notify">
          <button type="button" class="btn nav-link centered" data-toggle="modal"  data-target="#notificationModal">
              <i class="fa fa-bell"><p class="nav-link">Notifications </p></i>
        </button>
      </li>
      <!--
      <li class="nav-item btn btn-outline-primary">
        <a class="nav-link" href="/doctor/doctorsChat">
            <i class="fa fa-wechat"></i>
            Doctors' Chat
        </a>
    </li>-->
        <li class="nav-item dropdown btn btn-outline-primary">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-laptop" aria-hidden="true"></i>
              Appointments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/doctor/presentDoc"class="dropdown-item"> Present Appointments</a>
            <a href="/doctor/pastDoc"class="dropdown-item">Past Appointments</a> 
      </li>

        <li class="nav-item dropdown btn btn-outline-primary">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o"></i>
                <%= user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/doctor/myProfileDoc">Profile</a>
              <a class="dropdown-item" href="/doctor/logoutDoc">Logout</a>
              <a class="dropdown-item" href="/doctor/deleteDoc" >Delete Account</a>
        </li>
               
      </ul>   
    </div>
</nav>
</div>
<!-- modal for notification section -->
<%- include( "../partials/notifications" ) %>
<style>
   

  .logo img{
      top: 0;
      left: 0;
      width: 35px; height: 50px;
      
     }
     .navbar-nav .nav-item .nav-link{
       font-size: 15px;
       font-weight: 200;
       color:#007bff;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       height: 50px;
   }
  
   .navbar-nav .nav-item .nav-link:hover {
       color:white;
   }
   .h3{
       text-align: center;
   }
   
   .navbar-nav .nav-item .activeNavLink {
       
       color:white;
   }
   
   
   .navbar-nav  li{
     padding-left:10px;
     padding-right:10px;
   }
   
   .navbar-nav  li{
     margin-left:3px;
     margin-right:3px;
   }
   
  
  .dropdown-menu{
    background-color: 	#b0e0e6	;
  
  }
    
 
  </style>
<!--NEWS SECTION NOT WORKING
   <li class="nav-item btn btn-outline-primary">
          <button type="button" class="btn nav-link centered" data-toggle="modal"  data-target="#newsModal">
            <i class="fa fa-newspaper-o"><h5>NEWS SECTION</h5></i>
          </button>
          <div class="modal" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalTitle" aria-hidden="true">
            <div class="container justify-content-center newsbox">
              <div class="modal-header">  
            <h3>Top News </h3>
            <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
            </div>
            <hr>
            <div class="accordion" id="newsAccordion" ></div>
          </div>
          </div>
        </li>
-->