<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/user/register" class="btn btn-primary btn-block mb-2">Register as patient</a><a href="/doctor/registerDoc" class="btn btn-primary btn-block mb-2">Register as Doctor</a>
        <a href="/user/login" class="btn btn-secondary btn-block">Login as Patient</a><a href="/doctor/loginDoc" class="btn btn-secondary btn-block">Login as Doctor</a>
      </div>
    </div>
  </div>