.postbox{
    background-color: #1b1a1af3;
    /* background: linear-gradient(to right, #ffffffb0 44%, #fac7c79f 100%); */
    padding:3% 3%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width:60%;
    border-color: black;
    border-width: 3px;
    border-style:solid;
}

.doctorName{

    text-transform: uppercase;
    color:rgb(240, 233, 233);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.speciDoc {
    padding-top: 2%;
    color:#d5ffd5;
    display: flex;
}

.qualiDoc{
    color:#d5ffd5;
    display: flex;
}

.fee{
    color:#d5ffd5;
    display: flex;
}
.days{
    color:#d5ffd5;
    display: flex;
}
.hours{
    color:#d5ffd5;
    display: flex;
}


.btn-danger{
    border-radius: 5px;
}



