

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
.welcome{
    
    width: 100%;
    height: 100vh;
    background-image: url('../images/SANKALP2.0.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
   
   }
   
.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
.logo img{
    top: 0;
    left: 0;
    width: 35px; height: 50px;
    
   }
.line{
font-family: 'Bangers', cursive;
}
.register{    
        background-image: url('../images/bg.png');
        background-attachment:fixed;
        background-size: cover;
        padding:2%;
}
.navbar-nav .nav-item .nav-link{
    font-size: 15px;
    font-weight: bolder;
    color:rgb(32, 30, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-item .nav-link:hover{
    color:white;
}

.nav-item{
    margin-left:7px;
    
}

.navbar-nav .nav-item .activeNavLink{
    
    color:white;
}

.navbar-nav li{
    border-radius: 0%;
}
.sankalp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .sankalp .right-sec{
   padding-left: 55px;
   }
   
   .sankalp .left-sec{
    padding-left: 75px;
   }
   
   .left-sec h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #242424;
    margin-top: 150px;
    left: 10px;
   }
   
   .left-sec h1{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 5px;
   }
   
   .left-sec p{
    margin-bottom: 20px;
   }
   
   
.footer-bar
{
    background-color:rgb(140, 171, 177);
    color:#f0f0f0;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    bottom: 0%;
    /*padding: 0% 2%;*/
} 

.forDoctors{
    text-align: justify;
}
.forPatients{
    position: absolute;
    right: 0px;
    text-align: justify;
}
.image-card{
   width: 320px;
   height: 320px;
   padding-top: 15%;
}